.backLink {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid red;
  color: rgb(205, 186, 186);
  display: block;
  width: 50px;
  margin-bottom: 15px;
  text-align: center;
}
.backLink:hover {
  border-color: rgb(195, 181, 181);
}
.linkWrap {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.infoLink {
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
  color: rgb(170, 154, 154);
}
.infoLink:hover,
.infoLink:focus {
  color: white;
  background-color: red;
}
