.conteiner {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.input {
    width: 280px;
    height: 28px;
    border-radius: 7px;
    border: 1px solid darkgray;
    padding: 0 12px;
}